<form class="form">
    <h1>Novo Funcionário(a):</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. João Silva">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. 999.999.999-99">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Ex. (99) 99999-9999">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex. jsilva@email.com">
    </mat-form-field>
    <br>
    <button mat-stroked-button color="accent">CRIAR</button>
    <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>

</form>