.create {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 50%;
    margin: 1rem auto;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
    background-color: dimgrey;
}

.tab {
    background-color: #C2185B;
}