<mat-card class="mat-elevation cor">

    <mat-card-header>
        <mat-card-title> Sistema de Agendamentos </mat-card-title>
    </mat-card-header>
    <img src="../assets/img/imagem-salao-home.jpg" alt="Imagem salao ">
    <mat-card-content>
        <p>
            Seja bem vindo ao sistema de agendamento Studio Hair desenvolvido pelo grupo DVLM - Soluções.<br>
            Esse é um sistema para gerenciamento de agendamentos de serviços , tanto quanto também para os colaboradores e clientes de um salão de beleza.
        </p>
      </mat-card-content>

</mat-card>