mat-card {
    width: 60%;
    margin: 1rem auto;
    background: linear-gradient(0deg, rgba(255, 44, 139, 0.803) 13%, #fb21c4cb 60%, #f425a5bc 91%);
    color: rgb(251, 250, 250);
}
mat-card-title {
    text-align: center;
}

img {
    height: 20rem;
    width: 100%;
}