<mat-card class="mat-elevation cor">

    <mat-card-header>
        <mat-card-title> <img src="assets/img/studiohair_logo_menu.png" alt=""> </mat-card-title>
        <mat-card-subtitle> Sistema de Gestão de Agendamentos </mat-card-subtitle>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio cum magnam ullam, recusandae quod est veniam obcaecati exercitationem consequatur labore accusantium eos nulla perspiciatis quam eaque libero ipsa dolor quaerat?</p>

        <img src="assets/img/cabelos.jpg" alt="" width="300" height="400">

    </mat-card-header>

</mat-card>