h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    
}

.form {
    width: 50%;
    margin: auto;
    padding: 4rem 2rem ;
    border: 3px solid #fb21c4cb;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

button {
    width: 30%;
    margin-bottom: .5rem;
    margin-left: 5rem;
  
}
