.header {
    height: 10%;
    /* background-color: #F7C5DA; */
    color: antiquewhite;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(210, 11, 101, 1) 13%, #fb21c4cb 60%, #e90592b0 91%);
}

h1 {
    color: white;
}