.container {
    width: 70%;
    margin: auto;
}
h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.datagendar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.labels {
    display: flex;
    justify-content: space-between;
    
}

.full-width {
    width: 100%;
}

textarea {
    min-height: 4rem;
    max-height: 10rem;
}

button {
    width: 35%;
    margin-bottom: .5rem;
    margin-left: 6rem;
    align-items: center;
    justify-content: center;
}