<div class="container">
    <h1>Novo Agendamento:</h1>
        <div class="labels">
            <mat-form-field appearance="fill">
                <mat-label>Selecione um Profissional</mat-label>
                <mat-select [(value)]="ag.funcionario">
                  <mat-option *ngFor="let func of funcionarios" value="{{ func.id }}">{{ func.nome }}</mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field appearance="fill">
                <mat-label>Selecione um Cliente</mat-label>
                <mat-select [(value)]="ag.cliente">
                  <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field appearance="fill">
                <mat-label>Selecione um Serviço</mat-label>
                <mat-select [(value)]="ag.servico">
                  <mat-option value="0">CORTE</mat-option>
                  <mat-option value="1">PENTEADO</mat-option>
                  <mat-option value="2">TINGIMENTO</mat-option>
                  <mat-option value="3">MANICURE</mat-option>
                  <mat-option value="4">PEDICURE</mat-option>
                  <mat-option value="5">OUTROS</mat-option>
                </mat-select>
              </mat-form-field>
    
          
              <mat-form-field appearance="fill">
                <mat-label>Escolha a data do Serviço</mat-label>
                <input [(ngModel)]="ag.dataExServico" name="ag.dataExServico" matInput [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
    
              <mat-form-field class="form" appearance="fill">
                <mat-label>Selecione um status</mat-label>
                <mat-select [(value)]="ag.status">
                    <mat-option value="0">ABERTO</mat-option>
                    <mat-option value="1">ENCERRADO</mat-option>
                    <mat-option value="2">CANCELADO</mat-option>
                </mat-select>
            </mat-form-field>
        
      
        <form class="form">
          
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Digite os detalhes do Serviço a ser realizado</mat-label>
              <textarea [(ngModel)]="ag.observacoes" name="observacoes" matInput max Length="255" placeholder="Ex: O Cliente pediu um corte estilo militar..."></textarea>
            </mat-form-field>
          </form>
          
          <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
          <button (click)="create()" class="mat-elevation-z8" mat-raised-button color="accent">AGENDAR</button>
    </div>