.footer {
    height: 10%;
    position: fixed;
    bottom: 0;
    /* background-color: #F7C5DA; */
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(210, 11, 101, 1) 13%, #fb21c4cb 60%, #e90592b0 91%);
}

h5 {
    color:white;
}