.container {
    font-family: "Lucida Console", "Courier New", monospace;
}

mat-drawer-container {
    height: 80%;
    width: 100%;
}

i {
    margin: .4rem;
}

button {
    margin: 1rem auto 0 1rem;
    background-color: #C2185B;
}

.nav-list {
    background-color: #C2185B;
    height: 98.9%;
}