.container {
    font-family: "Lucida Console", "Courier New", monospace;
}

mat-drawer-container {
    height: 80%;
    width: 100%;
}

i {
    margin: .4rem;
}

button {
    margin: 1rem auto 0 1rem;
    background: linear-gradient(0deg, rgba(255, 44, 139, 0.803) 13%, #fb21c4cb 60%, #f425a5bc 91%);
}

.nav-list {
    background: linear-gradient(0deg, rgba(255, 44, 139, 0.803) 13%, #fb21c4cb 60%, #f425a5bc 91%);
    height: 98.9%;
}